<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile [colspan]=4
  [rowspan]=1>
</mat-grid-tile>

 
  <mat-grid-tile style="background-color: rgb(48, 45, 207);"   [colspan]=4 [rowspan]="rowSpam">
    <div class="mat-elevation-z8">
      <div class="contenedor-filtros">

    
      <ng-container>
        <mat-form-field class="filters">
          <mat-label>Filtro por Shared</mat-label>
          <input matInput #filterInput (keyup)="applyFilter(filterInput.value)" placeholder="Escribe el Shared">
        </mat-form-field>
      </ng-container>
      
      <ng-container>
        <mat-form-field class="filters">
          <mat-label>Filtro por idBussines</mat-label>
          <input matInput  #filteridBussines (keyup)="applyFilterByidBussines(filteridBussines.value)" placeholder="Escribe un id">
        </mat-form-field>
      </ng-container>

      <button mat-flat-button color="primary" (click)="openRegisterForm()">+ <mat-icon>perm_identity</mat-icon></button>
      <button mat-flat-button color="primary" (click)="downloadExcel()"><mat-icon>get_app</mat-icon></button>
      
    </div>
    <section class="example-container mat-elevation-z8" tabindex="0">
    <table mat-table [dataSource]="dataSource">

    
      <!-- Position Column -->
      <ng-container matColumnDef="Shared" sticky>
        <th mat-header-cell *matHeaderCellDef> Shared </th>
        <td mat-cell *matCellDef="let element"> {{ element.email.slice(0, 5) }} </td>
      </ng-container>

    <!-- Position idBussines -->
    <ng-container matColumnDef="idBussines">
      <th mat-header-cell *matHeaderCellDef> idBussines </th>
      <td mat-cell *matCellDef="let element"> {{ element.idBussines }} </td>
    </ng-container>
   
  
      <!-- bussinesId Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> name </th>
        <td mat-cell *matCellDef="let element"> {{element.datesUser.firstName}} </td>
      </ng-container>
  
      <!-- email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
  
      <!-- phone Column -->
      <ng-container matColumnDef="phone" stickyEnd>
        <th mat-header-cell *matHeaderCellDef>Phone </th>
        <td mat-cell *matCellDef="let element"> {{element.datesUser.phone[0].number}}</td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </section>
</div>
  
</mat-grid-tile>
</mat-grid-list>



